body
{
  width: 80%;
  text-align: center;

}

.redBox
  {
    background-color: red;
    height: 100px;
    width: 100px;
  }


  .blueBox
    {
      background-color: blue;
      height: 100px;
      width: 100px;
    }


.greenBox
{
  background-color: green;
  height: 100px;
  width: 100px;
}

div
{
  display: inline-block;
}

.addPadding
{
  padding: 10px;
}

.addMargin
{
  margin: 10px;
}


.learn5
{
  background-color: #f2ccff;
  padding: 3%;
  border-style: ridge;
  border-color: #8080ff;
  border-width: thick;
  width: 50%;
  /* margin: left; */
  margin-top: 25px;
}

.learn5:hover
{
  background-color:#8080ff;

}
